<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nu.springboot2.mapper.UserMapper" >

    <select id="queryAllUserByPage" parameterType="java.util.Map" resultType="nu.springboot2.module.User">
        select id,`name`,password from t_user limit #{pageNumber}, #{pageSize}
    </select>

    <select id="userCount" resultType="java.lang.Integer">
        select count(*) from t_user
    </select>

</mapper>